<div class='container-fluid manual'>
  <div class='row-fluid'>
    <div class='span12'>
      <div class='row-fluid'>
        <div class='span4'>

          <form class='form-horizontal'>
            <div class='control-group'>
              <label class='control-label' for='username'>Username</label>
              <div class='controls'>
                <input type='text' ng-model='manual.username' id='username' placeholder='Username'>
              </div>
            </div>
            <div class='control-group'>
              <label class='control-label' for='password'>Password</label>
              <div class='controls'>
                <input type='password' ng-model='manual.password' id='password' placeholder='Password'>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox"> Remember me
                </label>
                <button type="submit" ng-disabled='!manual.username || !manual.password' class="btn" ng-click='manual.login()'>Sign in</button>
              </div>
            </div>
          </form>

          <table class='table table-bordered table-hover'>
            <tr>
              <td>Server</td>
              <td>..</td>
            </tr>
            <tr>
              <td>Alias</td>
              <td>..</td>
            </tr>
            <tr>
              <td>Gender</td>
              <td>..</td>
            </tr>
            <tr>
              <td>Invite Code</td>
              <td>..</td>
            </tr>
            <tr>
              <td>Level</td>
              <td>..</td>
            </tr>
            <tr>
              <td>Energy</td>
              <td>..</td>
            </tr>
            <tr>
              <td>HP</td>
              <td>..</td>
            </tr>
            <tr>
              <td>Cost</td>
              <td>..</td>
            </tr>
            <tr>
              <td>Gold</td>
              <td>..</td>
            </tr>
            <tr>
              <td>Diamond</td>
              <td>..</td>
            </tr>
            <tr>
              <td>Cards</td>
              <td>..</td>
            </tr>
            <tr>
              <td>Friends</td>
              <td>..</td>
            </tr>
            <tr>
              <td>Legion</td>
              <td>..</td>
            </tr>
            <tr>
              <td>Ranking</td>
              <td>..</td>
            </tr>
            <tr>
              <td>Collection</td>
              <td>..</td>
            </tr>
          </table>

        </div>
        <div class='span8 monitor'>
          <label>
            <textarea></textarea>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav">
          <li><a>Maze</a></li>
          <li><a>Mission</a></li>
          <li><a>Shop</a></li>
          <li><a>Upgrade</a></li>
          <li><a>Muse</a></li>
          <li><a>Exercise</a></li>
          <li><a>Ladder</a></li>
          <li><a>Arena</a></li>
          <li><a>Thief</a></li>
          <li><a>Energy</a></li>
          <li><a>Donate</a></li>
          <li><a>Mails</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>