<div class='container-fluid manual'>
  <div class='row-fluid'>
    <div class='span12'>
      <div class='row-fluid'>
        <div class='span4'>

          <form class='form-horizontal'>
            <div class='control-group'>
              <label class='control-label' for='username'>Username</label>

              <div class='controls'>
                <input type='text' ng-model='manual.username' id='username' placeholder='Username'>
              </div>
            </div>
            <div class='control-group'>
              <label class='control-label' for='password'>Password</label>

              <div class='controls'>
                <input type='password' ng-model='manual.password' id='password' placeholder='Password'>
              </div>
            </div>
            <div class='control-group'>
              <div class='controls'>
                <label class='checkbox'>
                  <input type='checkbox'> Remember me
                </label>
                <button type='submit' ng-disabled='!manual.username || !manual.password' class='btn' ng-click='manual.login()'>Sign in
                </button>
              </div>
            </div>
          </form>

          <table class='table table-bordered table-hover'>
            <tr>
              <td class='span2'>Host</td>
              <td>{{manual.host}}</td>
            </tr>
            <tr>
              <td>Server</td>
              <td>{{manual.server}}</td>
            </tr>
            <tr>
              <td>Alias<a><i class='icon-eye-open' ng-click='manual.getUserInfo()'></i></a></td>
              <td>{{manual.alias}}</td>
            </tr>
            <tr>
              <td>Gender</td>
              <td>{{manual.gender}}</td>
            </tr>
            <tr>
              <td>Invite Code</td>
              <td>{{manual.inviteCode}}</td>
            </tr>
            <tr>
              <td>Level</td>
              <td>{{manual.level}}</td>
            </tr>
            <tr>
              <td>Energy</td>
              <td>{{manual.energy}}</td>
            </tr>
            <tr>
              <td>HP</td>
              <td>{{manual.hp}}</td>
            </tr>
            <tr>
              <td>Cost</td>
              <td>{{manual.leadership}}</td>
            </tr>
            <tr>
              <td>Gold</td>
              <td>{{manual.gold}}</td>
            </tr>
            <tr>
              <td>Diamond</td>
              <td>{{manual.diamond}}</td>
            </tr>
            <tr>
              <td>Cards</td>
              <td>{{manual.cards}}</td>
            </tr>
            <tr>
              <td>Friends</td>
              <td>{{manual.friends}}</td>
            </tr>
            <tr>
              <td>Legion</td>
              <td>{{manual.legion}}</td>
            </tr>
            <tr>
              <td>Ranking</td>
              <td>{{manual.ranking}}</td>
            </tr>
            <tr>
              <td>Collection</td>
              <td>{{manual.collection}}</td>
            </tr>
          </table>

        </div>
        <div class='span8 monitor'>
          <label>
            <textarea></textarea>
          </label>

          <div>
            <form class='form-inline'>
              {{manual.host || 'http://host/'}}
              <label for="service"></label><input type='text' ng-model='manual.service' id='service' placeholder='PHP Service Provider'>
              ?do=
              <label for="action"></label><input type='text' ng-model='manual.action' id='action' placeholder='Action'>
              <button class='btn btn-success' ng-disabled='!manual.service || !manual.action' ng-click='manual.doAction()'>Go
              </button>
            </form>
          </div>
          <div>
            <form class='form-inline'>
              <label for="key"></label><input type='text' ng-model='manual.key' id='key' placeholder='Key'>
              <label for="value"></label><input type='text' ng-model='manual.value' id='value' placeholder='Value'>
              <button class='btn btn-primaryd' ng-disabled='!manual.key || !manual.value || manual.params[manual.key]' ng-click='manual.addProperty()'>Add
              </button>
            </form>

          </div>
          <div>
            <a ng-repeat="key in manual.paramKeys" class="btn btn-info btn-mini property-btn" ng-click='manual.removeProperty(key)'>{{key}}:{{manual.params[key]}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='navbar navbar-inverse navbar-fixed-bottom'>
  <div class='navbar-inner'>
    <div class='container'>
      <div class='nav-collapse'>
        <ul class='nav'>
          <li>
            <button class='btn btn-mini btn-warning'><i class='icon-arrow-up'></i></button>
          </li>
          <li><a>Maze</a></li>
          <li><a>Mission</a></li>
          <li><a>Shop</a></li>
          <li><a>Upgrade</a></li>
          <li><a>Muse</a></li>
          <li><a>Exercise</a></li>
          <li><a>Ladder</a></li>
          <li><a>Arena</a></li>
          <li><a>Thief</a></li>
          <li><a>Energy</a></li>
          <li><a>Donate</a></li>
          <li><a>Mails</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--<div id='directRequest' class='modal hide fade' tabindex='-1' role='dialog'>-->
<!--<div class='modal-header'>-->
<!--<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>-->
<!--<h3>Direct Request</h3>-->
<!--</div>-->
<!--<div class='modal-body'>-->
<!--<form class='form-horizontal'>-->
<!--<div class='control-group'>-->
<!--<label class='control-label' for='service'>Service</label>-->
<!--<div class='controls'>-->
<!--<input type='text' ng-model='manual.service' id='service' placeholder='PHP Service Provider'>-->
<!--</div>-->
<!--</div>-->
<!--<div class='control-group'>-->
<!--<label class='control-label' for='action'>Action</label>-->
<!--<div class='controls'>-->
<!--<input type='text' ng-model='manual.action' id='action' placeholder='Action'>-->
<!--</div>-->
<!--</div>-->
<!--<div class='alert alert-block' ng-show='manual.service && manual.action'>URL: {{manual.host}}{{manual.service}}?do={{manual.action}}</div>-->
<!--</form>-->
<!--</div>-->
<!--<div class='modal-footer'>-->
<!--<button class='btn' data-dismiss='modal' aria-hidden='true'>Close</button>-->
<!--<button class='btn btn-primary' ng-click='manual.doAction()'>Perform</button>-->
<!--</div>-->
<!--</div>-->