body {
  padding-top: 60px;
  padding-bottom: 40px;
}

a {
  cursor: pointer;
}

.alert {
  padding: 8px 14px 8px 14px;
}

.span4 {
  height: 100%;
}

.jq-grid {
  height: 100%;
}

.label {
  margin-left:5px;
}

div.modal div.jq-grid {
  width: 560px;
  height: 800px;
}

.ui-jqgrid .ui-jqgrid-view {
  font-size: 12px;
}


div.mkb-view div.mkb-table {
  overflow: auto;
}

div.mkb-view div.mkb-table-cards {
  height:100%;
}

div.mkb-view div.mkb-table-friends {
  height:100%;
}