body {
  padding: 60px 10px 40px;
}

label {
  margin-bottom: 0;
}

a,
span.label[ng-click] {
  cursor: pointer;
}

a.btn-mini {
  font-size: 12px;
  margin-left: 5px;
}

.input-append {
  margin-bottom: 0;
}

.navbar a.brand {
  padding-left:10px;
  padding-right:10px;
}

.spinner-loading {
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 7px;
}

.alert {
  padding: 8px 14px 8px 14px;
}

.span4,
.jq-grid {
  height: 100%;
}

.label {
  margin-left:5px;
}

div.modal div.jq-grid {
  width: 560px;
  height: 800px;
}

.ui-jqgrid .ui-jqgrid-view {
  font-size: 12px;
}


.account-legion .input-append {
  margin-top: 10px;
}

.jq-grid-account-friends {
  height: 60%;
  margin: 10px;
}