<div class="mkb-account">

  <div class="mkb-view row-fluid" ng-show="account.user.nickName" ng-controller="AssetsCtrl">
    <div class="span4">
      <div class="account-legion alert alert-info">
        <div class="row-fluid">
          <button class="btn btn-info span3" ng-click="account.refreshUserCard(true)">刷新卡牌</button>
          <button class="btn btn-info span3">一键购卡</button>
          <button class="btn btn-info span3">一键强化</button>
          <button class="btn btn-info span3">进化卡牌</button>
        </div>
      </div>
      <div class="jq-grid-account-cards">
        <jq-grid options="account.userCardsGrid"></jq-grid>
      </div>
    </div>
    <div class="span4">
      <form>
        <div class="input-append">
          <label for="account_switch"></label>
          <select ng-model="account.switch" ng-options="switch for switch in account.accounts" id="account_switch" type="text">
          </select>
          <button class="btn btn-success" ng-click="account.switchAccount()">切换</button>
          <button class="btn btn-warning" ng-click="account.removeAccount()">清除</button>
        </div>
      </form>
      <table class="table table-bordered table-striped">
        <tbody>
        <tr>
          <td><strong>昵称</strong></td>
          <td>{{account.user.nickName}}<a class="btn btn-mini btn-info pull-right" ng-click="account.refreshUserInfo(true)">刷新</a><a class="btn btn-mini pull-right" ng-click="account.logout()">登出</a></td>
        </tr>
        <tr>
          <td><strong>等级</strong></td>
          <td>{{account.user.level}} <span class="badge">{{((account.user.exp - account.user.prevExp) / (account.user.nextExp - account.user.prevExp) * 100).toFixed(2)}}%</span></td>
        </tr>
        <tr>
          <td><strong>邀请码</strong></td>
          <td>{{account.user.inviteCode}}</td>
        </tr>
        <tr>
          <td><strong>行动点</strong></td>
          <td>{{account.user.energy}}/{{account.user.energyMax}}</td>
        </tr>
        <tr>
          <td><strong>金币</strong></td>
          <td>{{account.user.coins}}</td>
        </tr>
        <tr>
          <td><strong>晶钻</strong></td>
          <td>{{account.user.cash}}</td>
        </tr>
        <tr>
          <td><strong>魔幻券</strong></td>
          <td>{{account.user.ticket}}</td>
        </tr>
        <tr>
          <td><strong>竞技场</strong></td>
          <td>胜利：{{account.user.win}} 失败：{{account.user.lose}} <span ng-show="account.user.win + account.user.lose" class="badge">{{(account.user.win / (account.user.win + account.user.lose) * 100).toFixed(2)}}%</span></td>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="alert alert-info">
        <strong>游戏设定</strong>
        <a ng-click="account.refreshAssets(account.username)"><i class="icon-refresh"></i></a>

        <div class="row-fluid">
          <a class="btn btn-info span3">地图</a>
          <a class="btn btn-info span3">技能</a>
          <a href="#modal_assets_cards" role="button" data-toggle="modal" class="btn btn-info span3">卡牌</a>
          <a class="btn btn-info span3">符文</a>
        </div>
      </div>
      <div class="alert alert-block">
        <strong>一键操作</strong>

        <div class="row-fluid">
          <a class="btn btn-warning span3" ng-click="account.getMazeStatus()" href="#modal_account_maze" role="button" data-toggle="modal">清理迷宫</a>
          <a class="btn btn-warning span3" ng-click="account.getCounterAttacks()" href="#modal_account_counterattack" role="button" data-toggle="modal">清理反攻</a>
          <a class="btn btn-warning span3">快速推图</a>
          <a class="btn btn-warning span3" ng-click="account.getGoodsList()" href="#modal_account_goods" role="button" data-toggle="modal">领取宝箱</a>
        </div>
      </div>

    </div>
    <div class="span4">
      <div class="account-legion alert alert-info">
        <div class="row-fluid">
          <button class="btn btn-info span3">刷新好友</button>
          <button class="btn btn-info span3">一键领取</button>
          <button class="btn btn-info span3">一键赠送</button>
          <button class="btn btn-danger span3">删除好友</button>
        </div>
      </div>
      <div class="jq-grid-account-friends">
        <jq-grid options="account.userFriendsGrid"></jq-grid>
      </div>
      <div class="account-legion alert alert-info">
        <div class="row-fluid">
          <button class="btn btn-info span3">军团</button>
          <button class="btn btn-info span3">搜索团战</button>
          <button class="btn btn-info span3">退出团战</button>
          <button class="btn btn-danger span3">退出军团</button>
        </div>
        <div class="input-append">
          <label for="legion_contribution"></label><input id="legion_contribution" min="1" step="10000" type="number">
          <div class="btn-group">
            <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
              贡献
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a>军团资产</a></li>
              <li><a>军团等级</a></li>
            </ul>
          </div>
        </div>
        <strong class="text-center">当前贡献：</strong>
      </div>
    </div>
  </div>

  <div id="modal_assets_cards" class="modal hide fade" tabindex="-1" role="dialog">
    <jq-grid options="account.cardDefsGrid"></jq-grid>
  </div>

  <div id="modal_account_maze" class="modal hide fade" tabindex="-1" role="dialog">
    <h3 class="text-center" ng-hide="account.mazeStatus">正在读取迷宫进度……</h3>
    <table ng-show="account.mazeStatus" class="table table-bordered">
      <tr ng-repeat="(id, value) in account.mazeStatus">
        <td><a ng-click="account.refreshMaze(id, true)"><i class="icon-refresh"></i></a>{{value.name}}<span ng-show="value.freeReset" ng-click="account.resetMaze(id)" class="label label-success">免费重置</span><span ng-hide="value.freeReset" ng-click="account.resetMaze(id)" class="label label-warning">{{value.resetCash}}晶钻</span></td>
        <td>当前进度：<strong ng-show="value.clear">已通关</strong><strong ng-hide="value.clear">第{{value.layer}}层</strong><a ng-hide="value.clear" ng-click="account.clearMaze(id)" class="btn btn-info btn-mini">继续</a></td>
      </tr>
    </table>

    <form ng-show="account.mazeStatus" class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="maze_max_try">允许战斗失败次数</label>
        <div class="controls">
          <input type="text" id="maze_max_try" ng-model="account.maxTry" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="maze_energy">行动点</label>
        <div class="controls">
          <input class="span3" id="maze_energy" ng-model="account.user.energy" type="text" disabled>
          <button class="btn btn-warning" type="button">购买</button>
          <button class="btn btn-info" type="button" ng-click="account.refreshUserInfo(true)">刷新</button>
        </div>
      </div>
    </form>
  </div>

  <div id="modal_account_counterattack" class="modal hide fade" tabindex="-1" role="dialog">
    <h3 class="text-center" ng-show="!account.counterAttacks">正在读取地图信息……</h3>
    <h3 class="text-center" ng-show="account.counterAttacks && !account.attackDetails.length">未发现被反攻关卡</h3>
    <table ng-show="account.attackDetails.length" class="table table-bordered">
      <tr ng-repeat="attack in account.attackDetails">
        <td><label class="checkbox"><input ng-model="attack.clear" type="checkbox"></label></td>
        <td>{{attack.id}}</td>
        <td>{{attack.stageName}}</td>
        <td>{{attack.enemyLevel}}</td>
        <td><select><option ng-repeat="card in attack.cards">{{card}}</option></select></td>
      </tr>
    </table>

    <form ng-show="account.attackDetails.length" class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="counterattack_max_try">允许战斗失败次数</label>
        <div class="controls">
          <input type="text" id="counterattack_max_try" ng-model="account.maxTry" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="counterattack_energy">行动点</label>
        <div class="controls">
          <input class="span3" id="counterattack_energy" ng-model="account.user.energy" type="text" disabled>
          <button class="btn btn-warning" type="button">购买</button>
          <button class="btn btn-info" type="button" ng-click="account.refreshUserInfo(true)">刷新</button>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-success" ng-click="account.clearCounterAttacks()">清理选中关卡</button>
        </div>
      </div>
    </form>
  </div>

  <div id="modal_account_goods" class="modal hide fade" tabindex="-1" role="dialog">
  </div>

  <div ng-hide="account.user.nickName" id="modal-login" class="modal show">
    <div class="modal-header">
      <h4>Login</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="account_username">用户名</label>

          <div class="controls">
            <input type="text" ng-model="account.username" id="account_username" placeholder="用户名">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="account_password">密码</label>

          <div class="controls">
            <input type="password" ng-model="account.password" id="account_password" placeholder="老用户免填">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input ng-model="account.remember" type="checkbox"> 记住我！
            </label>
            <button type="submit" ng-click="account.login()" class="btn btn-success">登陆</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>