<div class="mkb-production">
  <div class="mkb-view row-fluid">
    <div class="span4">
      <div class="criterion-create alert alert-info">
        <form class="form-inline">
          <button type="submit" class="btn btn-info" ng-click="production.refreshCriterion()">刷新开局条件</button>
          <select class="span3" ng-model="production.cardId" ng-options="card.cardId as card.cardName group by card.color for (cardId, card) in production.cardDefs">
          </select>
          <input class="span2" ng-model="production.cardNumber" min="1" type="number" placeholder="数量">
          <button type="submit" class="btn btn-success" ng-disabled="!production.cardNumber || !production.cardId" ng-click="production.addFilter()">添加</button>
        </form>
        <div ng-show="production.hasFilter()" >
          <span class="label" ng-repeat="(cardId, cardNumber) in production.cardFilters" ng-click="production.removeFilter(cardId)">{{production.readFilter(cardId, cardNumber)}}</span>
          <a class="btn btn-small btn-danger" ng-click="production.clearFilters()">清除所有</a>
          <a class="btn btn-small btn-success" ng-click="production.addCriteria()">加入条件</a>
        </div>
      </div>
      <div class="jq-grid-production-criterion">
        <jq-grid grid="production.criterionGrid"></jq-grid>
      </div>
    </div>
    <div class="span4">
      <div class="criterion-create alert alert-info">
        <form class="form-inline">
          <div>
            <select class="span3" ng-model="production.serverId" ng-options="server.gsId as server.gsName for (desc, server) in production.servers">
            </select>
            <input class="span3" ng-model="production.usernamePrefix" minlength="3" maxlength="10" type="text" placeholder="用户名前缀">
            <input class="span4" ng-model="production.nicknamePrefix" minlength="1" maxlength="7" type="text" placeholder="昵称前缀">
            <select class="span2" ng-model="production.gender">
              <option value="0">男</option>
              <option value="1">女</option>
            </select>
          </div>
          <div>
            <input ng-model="production.useSameInviteCode" type="checkbox"> 统一邀请码
            <input class="span3" ng-model="production.inviteCode" minlength="6" maxlength="6" type="text" placeholder="默认邀请码">
            <input class="span3" ng-model="production.password" minlength="5" maxlength="12" type="text" placeholder="随机密码">
            <input class="span2" ng-model="production.total" min="1" type="number" placeholder="数量">
            <button type="submit" class="btn btn-success" ng-disabled="!production.serverId || !production.usernamePrefix || !production.nicknamePrefix || !production.gender || !production.total" ng-click="production.produceAccounts()">量产</button>
          </div>
        </form>

      </div>
      <bs-progress-bar pbar="production.productionProgressBar"></bs-progress-bar>
      <div class="jq-grid-production-criterion">
        <jq-grid grid="production.productionGrid"></jq-grid>
      </div>
    </div>
    <div class="span4">

    </div>
  </div>
</div>