<div class="mkb-system">
  <div class="mkb-view row-fluid">
    <div class="span4">

    </div>
    <div class="span4">
      <div class="accounts-search alert alert-info">
        <form class="form-inline">
          <button type="submit" class="btn btn-info" ng-click="system.refreshAccounts()">刷新好友</button>
          <select class="span2" ng-model="system.search">
            <option value="level">等级</option>
            <option value="card">拥有卡牌</option>
            <option value="currency">拥有货币</option>
            <option value="legion">所属军团</option>
          </select>
          <select class="span2"  ng-show="system.search == 'level'" ng-model="system.levelCompare">
            <option value="GreaterThan">大于</option>
            <option value="GreaterThanOrEqualTo">大于等于</option>
            <option value="EqualTo">等于</option>
            <option value="NotEqualTo">不等于</option>
            <option value="LessThan">小于</option>
            <option value="LessThanOrEqualTo">小于等于</option>
          </select>
          <input class="span2"  ng-show="system.search == 'level'" ng-model="system.levelValue" min="1" type="number">

          <select class="span3"  ng-show="system.search == 'card'" ng-model="system.cardId" ng-options="card.cardId as card.cardName group by card.color for (cardId, card) in system.cardDefs">
          </select>
          <input class="span2"  ng-show="system.search == 'card'" ng-model="system.cardNumber" min="1" type="number" placeholder="数量">

          <select class="span2"  ng-show="system.search == 'currency'" ng-model="system.currencyType">
            <option value="Coins">金币</option>
            <option value="Cash">晶钻</option>
            <option value="Ticket">魔幻券</option>
          </select>
          <select class="span2"  ng-show="system.search == 'currency'" ng-model="system.currencyCompare">
            <option value="GreaterThan">大于</option>
            <option value="GreaterThanOrEqualTo">大于等于</option>
            <option value="EqualTo">等于</option>
            <option value="NotEqualTo">不等于</option>
            <option value="LessThan">小于</option>
            <option value="LessThanOrEqualTo">小于等于</option>
          </select>
          <input class="span2"  ng-show="system.search == 'currency'" ng-model="system.currencyValue" min="0" type="number">
          <input class="span4"  ng-show="system.search == 'legion'" ng-model="system.legionName" type="text" placeholder="关键词">

          <button class="btn" ng-disabled="!system.search
          || (system.search == 'level' && (!system.levelCompare || !system.levelValue))
          || (system.search == 'card' && (!system.cardId || !system.cardNumber))
          || (system.search == 'currency' && (!system.currencyType || !system.currencyCompare || !system.currencyValue))
          || (system.search == 'legion' && !system.legionName)" ng-click="system.addFilter()">过滤</button>
        </form>
        <div>
          <span class="label" ng-repeat="filter in system.accountFilters" ng-click="system.removeFilter(filter)">{{system.readFilter(filter)}}</span>
          <a ng-show="system.accountFilters.length" class="btn btn-small btn-danger" ng-click="system.clearFilters()">清除所有</a>
        </div>
      </div>
      <div class="jq-grid-system-accounts">
        <jq-grid grid="system.accountsGrid"></jq-grid>
      </div>
      <div class="accounts-action alert alert-info">
        <div class="row-fluid">
          <a class="btn btn-success span3" ng-click="system.viewAccount()">账号详情</a>
        </div>
      </div>
    </div>
    <div class="span4">

    </div>
  </div>
</div>